body {
  background-color: #e8eaf1;
}

img {
  max-width: 100%;
}

.logo {
  width: 100px;
  display: inline-block;
}

.App-link {
  color: #61dafb;
}

header {
  background-color: #fff;
}

.header-navigation__link {
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 20px;
}

.header-navigation__link:last-child {
  padding-right: 0;
}

.header-navigation__link:hover {
  color: #666;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
