img {
  max-width: 100%;
}

.logo {
  width: 100px;
  display: inline-block;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
